/* This is shared styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(246, 64, 64);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.primary-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 15px;
}
.primary-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.red-font {
  color: red;
}
.white-font {
  color: #fff;
}
/* This is header section styling */
header {
  background-color: rgba(229, 84, 200, 0.1);
  height: auto;
  margin-bottom: 60px;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}
.header-text {
  width: 38%;
  padding-left: 50px;
}
.header-headings {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
}
.header-info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0;
}
.header-img {
  width: 500px;
  height: 600px;
}
/* This is first section */
/* Part one */
.featured-text {
  text-align: center;
}

.flower-tree-boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 35px 0;
}
.flower-tree-container {
  padding: 10px 120px 10px 120px;
}
.flower-tree-1 {
  width: 340px;
  height: 380px;
  background-color: rgba(210, 127, 244, 0.5);
  padding: 70px 40px 0 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-2 {
  width: 340px;
  height: 380px;
  background-color: rgba(104, 216, 231, 0.5);
  padding: 70px 40px 30px 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-3 {
  width: 340px;
  height: 380px;
  background-color: rgba(145, 234, 118, 0.51);
  padding: 70px 40px 0 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-name {
  text-align: center;
  padding-top: 15px;
  color: #272727;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
}
/* Part two */
.service-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.25);
  padding: 50px;
  margin: 40px 22px;
}
.service-type {
  width: 100%;
  text-align: center;
}
.service-icon {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}
.service-text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 15px;
  font-weight: 600;
}
/* This is second section */
.hot-deal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(229, 84, 200, 0.1);
  padding: 50px;
  margin: 50px 0;
}
.hot-deal {
  text-align: center;
}
.hot-btn{
  margin-top: 25px;
}
/* This is extra section */
.gift-boxes {
  text-align: center;
}
.gift-box-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}
.gift-box {
  background-color: #31d7d4;
  padding: 25px 25px 0 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 30px rgba(133, 226, 223, 0.44);
  margin-top: 80px;
}
.gift {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.floral-container {
  text-align: center;
  background-color: rgba(229, 84, 200, 0.1);
  padding: 40px 0;
}
.floral-container-boxes {
  margin-top: 30px;
}
.floral-boxes {
  display: flex;
  justify-content: space-evenly;
}
.floral-box {
  width: 312px;
  height: 312px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 4px 4px 8px gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  border-radius: 10px;
}
.first-box {
  background-image: url(./assets/floral/Rectangle\ 4.png);
}
.second-box {
  background-image: url(./assets/floral/Rectangle\ 5.png);
}
.third-box {
  background-image: url(./assets/floral/Rectangle\ 6.png);
}
.fourth-box {
  background-image: url(./assets/floral/Rectangle\ 7.png);
}
.float {
  background-color: #fff;
  width: 80%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: inset 0 0 10px #f8a100;
}

/* This is third section */
/* Part one  */
.social-network-container {
  margin: 30px 0 50px 0;
}
.instagram {
  text-align: center;
}
.instagram-image {
  margin: 20px 0 50px 0;
}
.instagram-img {
  width: 250px;
  height: 300px;
  margin: 8px;
}
.subscribe-container {
  background-image: url(./assets/Rectangle\ 9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 145px;
}
.deals-title {
  padding-bottom: 5px;
}
.subscribe {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}
input[type="email"] {
  margin-right: 10px;
  border: none;
  text-align: left;
  border-radius: 10px;
  width: 500px;
}

/* This is footer section styling */
.footer-container {
  background-color: #111010;
  text-align: center;
  padding: 60px 0;
}
.small-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin-top: 30px;
}
