/* This is shared styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(246, 64, 64);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* This is header part styling */
header {
  background-color: rgba(229, 84, 200, 0.1);
  height: auto;
  margin-bottom:60px;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}
.header-text {
  width: 38%;
  padding-left: 50px;
}
.header-headings {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
}
.header-info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0;
}
.header-img {
  width: 500px;
  height: 600px;
}
/* This is number one section */
/* Part one */
.featured-text {
  text-align: center;
}
.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 15px;
}
.featured-info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}
.flower-tree-boxes {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 35px;
}
.flower-tree-container {
  padding: 10px 140px 10px 140px;
}
.flower-tree-1 {
  width: 340px;
  height: 400px;
  background-color: rgba(210, 127, 244, 0.5);
  padding: 70px 40px 0 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-2 {
  width: 340px;
  height: 400px;
  background-color: rgba(104, 216, 231, 0.5);
  padding: 70px 40px 30px 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-3 {
  width: 340px;
  height: 400px;
  background-color: rgba(145, 234, 118, 0.51);
  padding: 70px 40px 0 40px;
  border-radius: 50% 50% 0 0;
}
.flower-tree-name {
  text-align: center;
  padding-top: 15px;
  color: #272727;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
}
/* part two */
.service-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.25);
  padding: 50px;
  margin: 40px 12px;
}
.service-type {
  width: 100%;
  text-align: center;
}
.service-icon {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}
.service-text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 15px;
  font-weight: 600;
}
